<!DOCTYPE html>
<html lang="en">
<head>
    <%= _.template(require('./../inc/head.html').default)() %>
</head>
<body class="page homepage scrollbar">
    <%= _.template(require('./../inc/header.html').default)() %>

    <main class="homepage__container page__area-content grid">
        <div class="glory-to-ukraine grid__area" style="--grid-area: glory_to_ukraine">
            <div class="portal portal_color_blue glory-to-ukraine__blue-portal"></div>
            <div class="glory-to-ukraine__tape js-tape-slider--right">
                <h1 class="glory-to-ukraine__item title title_h3">Слава Україні!</h1>
            </div>
            <div class="portal portal_color_yellow glory-to-ukraine__yellow-portal"></div>
        </div>

        <div class="information grid__area" style="--grid-area: what_is">
            <h2 class="information__title title title_h2">What it is?</h2>
            <p class="information__description">
                This is a small library that will allow the elements of your tape to move in a given direction at different speeds,
                and with the effect of teleportation, with the ability to specify timing function for motion like on the Bezier curve.
            </p>
        </div>

        <div class="homepage__alert grid__area" style="--grid-area: alert">
            <div class="alert alert_type_warning">
                <i class="alert__icon fa-solid fa-triangle-exclamation"></i>
                <p class="alert__message">
                    This plugin is experimental and unstable, it still has to go through a polishing path
                    for uninterrupted operation, so use it at your own risk :)
                </p>
            </div>
        </div>

        <div class="information grid__area" style="--grid-area: preface">
            <h2 class="information__title title title_h5">Before use:</h2>
            <ul class="information__description list">
                <li class="list__item list__item_increment">
                    This plugin does not style the tape container and its internal blocks, but only makes them move.
                </li>
                <li class="list__item list__item_increment">
                    For the teleportation effect, the plugin creates a copy of the element, which simulates the element from the other end, after the full passage of the tape, the original element is moved to the place of copy.
                </li>
                <li class="list__item list__item_increment">
                    Due to the fact that the plugin calculates the distances for the path,
                    you need to follow some style rules for the correct use of the plugin,
                    which are described <a class="link link_type_hover" href="#styling-tips">#below</a>.
                </li>
                <li class="list__item list__item_increment">
                    If you need a simple slider, it is better to choose another plugin.
                </li>
            </ul>
        </div>

        <div id="install" class="information grid__area" style="--grid-area: install">
            <h3 class="information__title title title_h5">Install:</h3>
            <code class="information__code code js-mirror-js" data-mirror="install"></code>
        </div>

        <div class="information grid__area" style="--grid-area: usage">
            <h3 class="information__title title title_h5">Usage:</h3>
            <code class="information__code code js-mirror-js" data-mirror="usage"></code>
            <div class="information__info info">
                <i class="info__icon fa-solid fa-circle-exclamation"></i>
                <h6 class="info__title">Note</h6>
                <p class="info__description">
                    For the plugin to work properly, it needs to be wrapped in a "<strong class="clr clr_color_third">load</strong>" event because it needs to load the entire page to calculate the size.
                </p>
            </div>
            <div class="information__tape tape tape_direction_row js-tape-slider--right">
                <div class="tape__item tape__item_direction_row bg bg_color_black"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_dark"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_third"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_npm"></div>
            </div>
        </div>

        <div class="information grid__area" style="--grid-area: advanced">
            <h3 class="information__title title title_h5">Advanced:</h3>
            <p class="information__description">
                Don't ignore the comments, they can help you better understand what's going on ;)
            </p>
            <code class="information__code code js-mirror-js" data-mirror="advanced"></code>
            <div class="information__info info">
                <i class="info__icon fa-solid fa-circle-exclamation"></i>
                <h6 class="info__title">Note</h6>
                <p class="info__description">
                    Note the use of <strong class="clr clr_color_third">ShiftX</strong> and <strong class="clr clr_color_third">ShiftY</strong>,
                    they are described <a class="link link_type_hover" href="#docs-options-shrift">here</a>.
                    <br>
                    <br>
                    Read about the peculiarities of using linear functions <a class="link link_type_hover" href="#docs-options-timing">here</a>
                </p>
            </div>
            <div class="information__tape tape tape_direction_row js-tape-slider--right">
                <div class="tape__item tape__item_direction_row bg bg_color_black"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_dark"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_third"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_npm"></div>
            </div>
            <div class="information__tapes">
                <div class="information__tape tape tape_direction_column js-tape-slider--up">
                    <div class="tape__item tape__item_direction_column bg bg_color_black"></div>
                    <div class="tape__item tape__item_direction_column bg bg_color_dark"></div>
                    <div class="tape__item tape__item_direction_column bg bg_color_third"></div>
                    <div class="tape__item tape__item_direction_column bg bg_color_primary"></div>
                    <div class="tape__item tape__item_direction_column bg bg_color_npm"></div>
                </div>
                <div class="information__tape tape tape_direction_column js-tape-slider--down">
                    <div class="tape__item tape__item_direction_column bg bg_color_black"></div>
                    <div class="tape__item tape__item_direction_column bg bg_color_dark"></div>
                    <div class="tape__item tape__item_direction_column bg bg_color_third"></div>
                    <div class="tape__item tape__item_direction_column bg bg_color_primary"></div>
                    <div class="tape__item tape__item_direction_column bg bg_color_npm"></div>
                </div>
            </div>
            <div class="information__tape tape tape_direction_row js-tape-slider--left">
                <div class="tape__item tape__item_direction_row bg bg_color_black"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_dark"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_third"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_npm"></div>
            </div>
        </div>

        <div class="paragraph grid__area" style="--grid-area: paragraph_1"></div>

        <div class="information grid__area" style="--grid-area: how_it_works">
            <h2 class="information__title title title_h2">How it works:</h2>
            <p class="information__description">
                When a ribbon element reaches the edge,
                it triggers an event that creates a complete clone of that element at the opposite edge,
                according to the principle of the <span class="clr clr_color_third">cloneNode(deap)</span> method then,
                when the element is completely hidden behind the horizon,
                it moves to the place of the cloned element
                (it moves, not replaces it, in the document the original element remains in place)
                and the clone in turn is destroyed.
                Thus it is necessary to understand that when the clone is created it has no events of the original element,
                and also once again loads all resources which are in the original on type of pictures.
            </p>
            <div class="information__tape tape tape_type_counter tape_direction_row js-tape-slider--right">
                <div class="tape__item tape__item_mod_count tape__item_type_next-clone tape__item_direction_row bg bg_color_primary"></div>
            </div>
        </div>

        <div class="paragraph grid__area" style="--grid-area: paragraph_2"></div>

        <div id="docs" class="information grid__area" style="--grid-area: docs">
            <h2 class="information__title title title_h2">Documentation</h2>
            <p class="information__description">
                Description of fields and methods and behavior when manipulating them.
            </p>
        </div>

        <div id="property" class="information grid__area" style="--grid-area: property">
            <h2 class="information__title title title_h3">Property</h2>
            <p class="information__description">
                The list of possible properties at initialization of the designer.
            </p>
        </div>
        <div class="information grid__area" style="--grid-area: docs_wrapper">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">wrapper</span>: DOM Element object
            </h3>
            <p class="information__description">
                The DOM Element of the ribbon, all the elements it contains will be ribbon elements.
                For the correct operation of this container, its position must be different from <span class="clr clr_color_third weight weight_type_w7">position: static</span>.
                Read about the features of ribbon styling
                for the correct operation of the plugin <a class="link link_type_hover" href="#styling-tips">#here</a>
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_wrapper"></code>
        </div>
        <div class="information grid__area" style="--grid-area: docs_direction">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">direction</span>: Left | Right | Up | Down
            </h3>
            <p class="information__description">
                The field responsible for the direction currently has 4 directions, by default Right.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_direction"></code>
            <div class="information__info info">
                <i class="info__icon fa-solid fa-circle-exclamation"></i>
                <h6 class="info__title">Note</h6>
                <p class="info__description">
                    All four classes extend the base <span class="clr clr_color_third">Direction</span> class.
                    If you want to change the calculation method,
                    you can expand each of the classes that are placed on the <a class="link link_type_hover" href="https://github.com/saschati/tape-slider/tree/master/src/direction">link</a>.
                </p>
            </div>
        </div>
        <div id="docs-options-shrift" class="information grid__area" style="--grid-area: docs_options_shift">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">options.shift</span>: ShiftX | ShiftY
            </h3>
            <p class="information__description">
                The field responsible for the movement of the ribbon
                for horizontal is <span class="clr clr_color_third">ShiftX</span> and vertical <span class="clr clr_color_third">ShiftY</span>, default is <span class="clr clr_color_third">ShiftX</span>.
                If you use the <span class="clr clr_color_third">Up|Down</span> direction, do not forget to pass <span class="clr clr_color_third">options.shift: ShiftY</span> because without it the tape will go accordingly on an x-axis.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_options_shift"></code>
        </div>
        <div class="information grid__area" style="--grid-area: docs_options_duration">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">options.duration</span>: 20000
            </h3>
            <p class="information__description">
                The field responsible for the scroll speed of the tape, the default is 20000.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_options_duration"></code>
            <div class="information__info info">
                <i class="info__icon fa-solid fa-triangle-exclamation"></i>
                <h6 class="info__title">Warning</h6>
                <p class="info__description">
                    At very high speeds in the elements of the slider begin to shift,
                    see more about it at the <a class="link link_type_hover" href="./peculiarity.html#problem-offset">link</a>.
                    <br>
                    <br>
                    A speed of at least <span class="weight weight_type_w7 clr clr_color_third">5000</span> is recommended for the slider element group.
                </p>
            </div>
            <div class="information__tape tape tape_direction_row js-tape-slider_duration">
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
            </div>
        </div>
        <div id="docs-options-timing" class="information grid__area" style="--grid-area: docs_options_timing">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">options.timing</span>: bounce | circ | linage | quad
            </h3>
            <p class="information__description">
                This field is responsible for timing functions for which time will be calculated according to the example of cubic-bezier from css, default linage.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_options_timing"></code>

            <p class="information__description information__description_for_tape">
                <span class="clr clr_color_black weight weight_type_w9">linage:</span>
            </p>
            <div class="information__tape tape tape_direction_row js-tape-slider_timing_linage">
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
            </div>
            <img class="information__timing lozad" data-src="<%= require('../../img/timing/linage.png') %>" alt="Linage">

            <p class="information__description information__description_for_tape">
                <span class="clr clr_color_black weight weight_type_w9">bounce:</span>
            </p>
            <div class="information__tape tape tape_direction_row js-tape-slider_timing_bounce">
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
            </div>
            <img class="information__timing lozad" data-src="<%= require('../../img/timing/bounce.png') %>" alt="Bounce">

            <p class="information__description information__description_for_tape">
                <span class="clr clr_color_black weight weight_type_w9">circ:</span>
            </p>
            <div class="information__tape tape tape_direction_row js-tape-slider_timing_circ">
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
            </div>
            <img class="information__timing lozad" data-src="<%= require('../../img/timing/circ.png') %>" alt="Circ">

            <p class="information__description information__description_for_tape">
                <span class="clr clr_color_black weight weight_type_w9">quad:</span>
            </p>
            <div class="information__tape tape tape_direction_row js-tape-slider_timing_quad">
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
            </div>
            <img class="information__timing lozad" data-src="<%= require('../../img/timing/quad.png') %>" alt="Quad">

            <p class="information__description">
                You can also write your own timing functions like it:
            </p>

            <code class="information__code code js-mirror-js" data-mirror="docs_options_timing_quad"></code>
            <div class="information__info info">
                <i class="info__icon fa-solid fa-circle-exclamation"></i>
                <h6 class="info__title">Note</h6>
                <p class="info__description">
                    The first argument can be passed using the <span class="clr clr_color_third">bind</span> function: <br>
                    <span class="weight weight_type_w7 clr clr_color_third">timing: quad.bind(null, 2)</span>
                </p>
            </div>
        </div>
        <div id="dec-options-insert" class="information grid__area" style="--grid-area: docs_options_insert">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">options.insert</span>: 'append' | 'prepend'
            </h3>
            <p class="information__description">
                The field responsible for the method of adding clones to the tape is required in some cases which will be described below, default 'append'.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_options_insert"></code>
            <p class="information__description">
                An example in which you will need to use this attribute is if for some reason your content goes from right to left, in which case adding a new item to the end of this list (this is how creating a clone) will break the distance calculation, for example:
            </p>

            <p class="information__description information__description_for_tape">
                <span class="clr clr_color_black weight weight_type_w9">justify-content: flex-end</span>
            </p>
            <div class="information__tape tape tape_direction_row tape_jc_end">
                <div class="tape__item tape__item_direction_row tape__item_type_new-block">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="tape__item tape__item_direction_row tape__item_type_new-block">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="tape__item tape__item_direction_row tape__item_type_new-block">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="tape__item tape__item_direction_row tape__item_type_new-block">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="tape__item tape__item_direction_row tape__item_type_new-block">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="tape__item tape__item_direction_row tape__item_type_new-block">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="tape__item tape__item_direction_row tape__item_type_new-block">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="tape__item tape__item_direction_row tape__item_type_new-block">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="tape__item tape__item_direction_row tape__item_type_new-block">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="tape__item tape__item_direction_row tape__item_type_new-block">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
            </div>

            <p class="information__description information__description_for_tape">
                <span class="clr clr_color_black weight weight_type_w9">options.insert: 'prepend'</span>
            </p>
            <div class="information__tape tape tape_direction_row tape_jc_end js-tape-slider_insert_prepend">
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
            </div>

            <p class="information__description information__description_for_tape">
                <span class="clr clr_color_third weight weight_type_w9">options.insert: 'append'</span>
            </p>
            <div class="information__tape tape tape_direction_row tape_jc_end js-tape-slider--left">
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
            </div>
        </div>
        <div id="dec-options-offset" class="information grid__area" style="--grid-area: docs_options_elasticDistance">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">options.elasticDistance</span>: true | false
            </h3>
            <p class="information__description">
                This field indicates that you need to calculate the size of the tape, taking into account also the size of its elements, the default is true.
                Also be sure to indent the first element of the ribbon equal to the distance between the elements otherwise the last and first element will be in the butt.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_options_elasticDistance"></code>
            <p class="information__description information__description_for_tape">
                <span class="weight weight_type_w7 clr clr_color_black">
                    The contents of the tape are larger than its size:
                </span>
            </p>
            <div class="information__tape homepage__tape homepage__tape_options_elasticDistance homepage__tape_mod_no-overflow tape tape_type_counter tape_direction_row">
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_black"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_dark"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_third"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_primary"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_npm"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_black"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_dark"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_third"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_primary"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_npm"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_black"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_dark"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_third"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_primary"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_npm"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_black"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_dark"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_third"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_primary"></div>
                <div class="clr clr_color_white tape__item tape__item_mod_count tape__item_direction_row bg bg_color_npm"></div>
            </div>
            <p class="information__description information__description_for_tape">
                <span class="weight weight_type_w7 clr clr_color_black">
                    options.elasticDistance: true
                </span>
            </p>
            <div class="information__tape homepage__tape_options_elasticDistance tape tape_direction_row js-tape-slider--right">
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_black">1</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_dark">2</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_third">3</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_primary">4</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_npm">5</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_black">6</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_dark">7</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_third">8</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_primary">9</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_npm">10</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_black">11</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_dark">12</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_third">13</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_primary">14</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_npm">15</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_black">16</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_dark">17</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_third">18</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_primary">19</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_npm">20</div>
            </div>
            <p class="information__description information__description_for_tape">
                <span class="weight weight_type_w7 clr clr_color_third">
                    options.elasticDistance: false
                </span>
            </p>
            <div class="information__tape homepage__tape_options_elasticDistance tape tape_direction_row js-tape-slider_elasticDistance_false">
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_black">1</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_dark">2</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_third">3</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_primary">4</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_npm">5</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_black">6</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_dark">7</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_third">8</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_primary">9</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_npm">10</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_black">11</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_dark">12</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_third">13</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_primary">14</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_npm">15</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_black">16</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_dark">17</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_third">18</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_primary">19</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_npm">20</div>
            </div>
        </div>
        <div id="dec-options-optimize" class="information grid__area" style="--grid-area: docs_options_optimize">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">options.optimize</span>: true | false
            </h3>
            <p class="information__description">
                To optimize the work of the plugin, when the option is active, an observer will be thrown on the tape object relative to the window,
                when the user is not looking at the tape, it will not move, the default is true.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_options_optimize"></code>
            <p class="information__description">
                <span class="clr clr_color_black">
                    To see the difference just scroll up or down to hide the ribbon,
                    the first ribbon will stay in place while the bottom one will continue to move.
                </span>
            </p>
            <p class="information__description information__description_for_tape">
                <span class="weight weight_type_w7 clr clr_color_black">
                    options.optimize: true
                </span>
            </p>
            <div class="information__tape tape tape_direction_row js-tape-slider--right">
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_black">1</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_dark">2</div>
            </div>
            <p class="information__description information__description_for_tape">
                <span class="weight weight_type_w7 clr clr_color_black">
                    options.optimize: false
                </span>
            </p>
            <div class="information__tape tape tape_direction_row js-tape-slider--right_optimize_false">
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_black">1</div>
                <div class="clr clr_color_white tape__item tape__item_direction_row bg bg_color_dark">2</div>
            </div>
        </div>

        <div id="methods" class="information grid__area" style="--grid-area: docs_methods">
            <h2 class="information__title title title_h3">Methods</h2>
            <p class="information__description">
                List of available methods.
            </p>
        </div>
        <div class="information grid__area" style="--grid-area: docs_methods_run">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">run()</span>: void
            </h3>
            <p class="information__description">
                Initializes the movement of the tape.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_methods_run"></code>
        </div>
        <div class="information grid__area" style="--grid-area: docs_methods_destroy">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">destroy()</span>: void
            </h3>
            <p class="information__description">
                Destroys the tape at the event and state level before it is run using the <span class="clr clr_color_third">run()</span> method.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_methods_destroy"></code>
        </div>
        <div class="information grid__area" style="--grid-area: docs_methods_pause">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">pause()</span>: void
            </h3>
            <p class="information__description">
                Pauses the movement of the tape.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_methods_pause"></code>
        </div>
        <div class="information grid__area" style="--grid-area: docs_methods_resume">
            <h3 class="information__title title title_h5">
                <span class="weight weight_type_w9">resume()</span>: void
            </h3>
            <p class="information__description">
                Removes the tape from the pause and continues its work from the place where it was stopped.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_methods_resume"></code>
            <p class="information__description">
                Application example.
            </p>
            <code class="information__code code js-mirror-js" data-mirror="docs_methods_pause_resume"></code>
            <p class="information__description information__description_for_tape">
                Demonstrate the operation of the tape with the method of
                <span class="clr clr_color_third">pause()</span> and <span class="clr clr_color_third">resume()</span> hover the mouse cursor.
            </p>
            <div class="information__tape tape tape_direction_row js-tape-slider_pause_resume cursor cursor_type_wait">
                <div class="tape__item tape__item_direction_row bg bg_color_black"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_dark"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_third"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_primary"></div>
                <div class="tape__item tape__item_direction_row bg bg_color_npm"></div>
            </div>
        </div>

        <div class="paragraph grid__area" style="--grid-area: paragraph_3"></div>

        <div id="styling-tips" class="information grid__area list" style="--grid-area: styling_tips">
            <h2 class="information__title title title_h2">Styling tips:</h2>
            <p class="information__description">
                Because the library translates the stylization and shaping of the tape flow to the user, there are some rules that it must follow in order for the tape to behave stably.
            </p>
            <p class="information__description list__item list__item_increment">
                The tape must position itself differently from static.
            </p>
            <code class="information__code code js-mirror-css" data-mirror="styling_tips_1"></code>
            <p class="information__description">
                <span class="weight weight_type_w9 clr clr_color_black">Why do it?</span> - Because the positions of the tape elements calculate their
                position and the required distance using the <span class="clr clr_color_third">offset(Left|Top|Width|Height)</span> properties,
                and these properties work according to the element in which the position is not static. You can read more at the
                <a class="link link_type_hover" href="https://www.w3schools.com/jsref/prop_element_offsetparent.asp">link</a>.
            </p>

            <p class="information__description list__item list__item_increment">
                When adding an element the tape should not move, ie if you use flexbox,
                <span class="clr clr_color_third">justify-content</span> should not be <span class="clr clr_color_third">space-(between|around|evenly)</span>
                or <span class="clr clr_color_third">center</span> margin should be fixed,
                also if the length of the tape is short and it is designed only for the already added number
                of elements must be disabled for elements <span class="clr clr_color_third">flex-shrink: 0;</span> that is,
                they did not decrease by default.
            </p>
            <code class="information__code code js-mirror-css" data-mirror="styling_tips_2"></code>
            <div class="information__info info">
                <i class="info__icon fa-solid fa-circle-exclamation"></i>
                <h6 class="info__title">Note</h6>
                <p class="info__description">
                    When adding the <span class="clr clr_color_third">flex-end</span> property,
                    you need to change the way you add the replica, see the <a class="link link_type_hover" href="#dec-options-insert">#options.insert</a> property.
                </p>
            </div>
            <p class="information__description">
                <span class="weight weight_type_w9 clr clr_color_black">Why do it?</span> - Because the elements of the tape calculate their distance during initialization and when the position is shifted, "jumps" will be visible
            </p>

            <p class="information__description list__item list__item_increment">
                Do not forget to add to your tape <span class="clr clr_color_black">overflow-(x|y)</span> according to the direction,
                the elements do not disappear by themselves :)
            </p>
            <code class="information__code code js-mirror-css" data-mirror="styling_tips_3"></code>
        </div>

        <div class="paragraph grid__area" style="--grid-area: paragraph_4"></div>

        <div class="information grid__area" style="--grid-area: this_all">
            <h2 class="information__title title title_h2">That's all for now:</h2>
            <p class="information__description">
                You can also:
            </p>
            <ul class="information__description list">
                <li class="list__item list__item_increment">See what are the <a class="link link_type_hover" href="./peculiarity.html">peculiarity</a> when using the plugin.</li>
            </ul>
        </div>
    </main>

    <%= _.template(require('./../inc/footer.html').default)() %>
</body>
</html>
